services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: weride-db
      MYSQL_USER: weride_user
      MYSQL_PASSWORD: weride_pass
    ports:
      - "3307:3307"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-net

  backend:
    build: .
    container_name: backend-weride
    restart: always
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/weride-db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: weride_user
      SPRING_DATASOURCE_PASSWORD: weride_pass
    ports:
      - "8080:8080"
    networks:
      - app-net

networks:
  app-net:

volumes:
  mysql_data: